### **Forecasting Traffic Flow and EV Charging Demand Using Time Series and Deep Learning**

## **Introduction**

Urban traffic congestion and the rising demand for electric vehicle (EV) infrastructure pose significant challenges to smart city planning and energy management. With the growing adoption of EVs, accurately forecasting traffic patterns and charging demand has become essential for optimizing route planning and enhancing the accessibility of charging stations. This study focuses on leveraging **hourly traffic data from California District 3** and **EV charging datasets** to build an integrated forecasting framework using **hierarchical time series models**, **deep learning**, and **graph-based techniques**.

## **Project Objectives**

This project explores two major directions:

###  1. **Path Planning Based on Traffic Flow Forecasting**
- Model and forecast traffic flow using classical, hierarchical, and deep learning approaches.
- Enable intelligent routing decisions that reduce congestion based on predicted flow.

###  2. **Forecasting EV Charging Demand at Multiple Aggregation Levels**
- Predict EV charging loads across different temporal and spatial resolutions.
- Assess the relationship between traffic patterns and EV charging behaviors.

---

## **Approach & Methodology**

The analysis will follow a structured multi-step approach:

1. **Data Collection & Exploration**
   - Process 3 months of **hourly traffic data** from **PeMS (District 3)**.
   - Perform clustering using **Coefficient of Variation (CV)** to group time series.
   - Visualize temporal trends (hourly, daily, weekly) and assess missing values.

2. **Feature Engineering**
   - Extract and encode time-based features (hour, day of week, holiday, etc.).
   - Generate lag features and rolling window statistics for capturing temporal dependencies.
   - Encode cyclical features (e.g. sin/cos of hour) and spatial information if available.

3. **Baseline Forecasting Models**
   - Implement classical models: **Seasonal Naive and Linear Modelling**.
   - Establish performance baselines for comparison.

4. **Deep Learning and Graph-based Models**
   - Apply **LSTM** and **Graph Neural Network (GNN)** architectures to capture complex spatio-temporal patterns.
   - Explore **network time series modeling** to handle spatially connected sensor data.

5. **Hierarchical Time Series Modeling**
   - Develop **HTS models** for forecasting at different aggregation levels.
   - Reconcile forecasts from station to region level for interpretability and control.

6. **EV Charging Demand Forecasting**
   - Integrate **EV charging dataset** for demand modeling.
   - Forecast charging load at varying levels of aggregation using spectral clustering and deep learning.

7. **Joint Modeling for Traffic and EV Demand**
   - Explore co-dependencies between traffic flow and EV charging needs.
   - Develop a unified deep learning framework that considers both traffic flow and EV energy demands.

---

## **Data Sources**

 **Traffic Data (PeMS - Caltrans District 3)**
   - [PeMS Clearinghouse](https://pems.dot.ca.gov/?dnode=Clearinghouse&type=station_hour&district_id=3&submit=Submit)
   - 3-month hourly data including total flow, occupancy, and speed.

---

## **Why This Study Matters**

This project will provide a **data-driven decision support system** for:
- Reducing **traffic congestion** through accurate flow forecasting.
- Improving **EV charging infrastructure placement**.
- Enhancing **sustainable mobility** by integrating traffic and energy demand insights.

By combining **time series modeling**, **deep learning**, and **graph-based methods**, this study aims to bridge the gap between traffic data analysis and EV energy demand forecasting in smart cities.

In [6]:
import pandas as pd
import glob
import os
from sklearn.cluster import KMeans
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
import numpy as np
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.arima.model import ARIMA
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator
import tensorflow as tf

In [2]:
# Define folder path where the .txt files are located
folder_path = r"C:\Users\attafuro\Desktop\EV Charging Analysis"
output_file = os.path.join(folder_path, "merged_3months_traffic_data.csv")

# Get all .txt files in the folder
file_paths = glob.glob(os.path.join(folder_path, "*.txt"))

# Merge all .txt files into one CSV and delete the originals
with open(output_file, "w") as output:
    first_file = True

    for file in file_paths:
        print(f"Processing: {file}")
        
        # Read and write the .txt file in chunks (to handle large files efficiently)
        for chunk in pd.read_csv(file, delimiter=",", chunksize=10000):
            chunk.to_csv(output, index=False, header=first_file, mode="a")
            first_file = False

        # Delete the file after processing
        os.remove(file)
        print(f"Deleted: {file}")

print(f" Merge completed! CSV saved as '{output_file}'")

Processing: C:\Users\attafuro\Desktop\EV Charging Analysis\d03_text_station_hour_2024_10.txt
Deleted: C:\Users\attafuro\Desktop\EV Charging Analysis\d03_text_station_hour_2024_10.txt
Processing: C:\Users\attafuro\Desktop\EV Charging Analysis\d03_text_station_hour_2024_11.txt
Deleted: C:\Users\attafuro\Desktop\EV Charging Analysis\d03_text_station_hour_2024_11.txt
Processing: C:\Users\attafuro\Desktop\EV Charging Analysis\d03_text_station_hour_2024_12.txt
Deleted: C:\Users\attafuro\Desktop\EV Charging Analysis\d03_text_station_hour_2024_12.txt
 Merge completed! CSV saved as 'C:\Users\attafuro\Desktop\EV Charging Analysis\merged_3months_traffic_data.csv'

In [5]:
# Load the merged file
df = pd.read_csv(r"C:\Users\attafuro\Desktop\EV Charging Analysis\merged_3months_traffic_data.csv")

# Display basic info
df.head()

,10/01/2024 00:00:00,308511,3,50,E,ML,3.134,202,92,20,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,10/01/2024 00:00:00,308512,3,50,W,ML,3.995,197,0,497.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10/01/2024 00:00:00,311831,3,5,S,OR,NaN,101,92,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10/01/2024 00:00:00,311832,3,5,S,FR,NaN,101,92,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10/01/2024 00:00:00,311844,3,5,N,OR,NaN,202,92,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10/01/2024 00:00:00,311847,3,5,N,OR,NaN,303,92,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Define the correct column names
column_names = [
    "Timestamp", "Station", "District", "Route", "Direction of Travel", "Lane Type",
    "Station Length", "Samples", "% Observed", "Total Flow", "Avg Occupancy", "Avg Speed",
    "Delay (V_t=35)", "Delay (V_t=40)", "Delay (V_t=45)", "Delay (V_t=50)", "Delay (V_t=55)", "Delay (V_t=60)"
]

In [9]:
# Identify extra columns (Lane N data) and rename accordingly
num_extra_cols = len(df.columns) - len(column_names)
for i in range(1, num_extra_cols // 3 + 1):  
    column_names.extend([
        f"Lane {i} Flow", f"Lane {i} Avg Occ", f"Lane {i} Avg Speed"
    ])

# Apply new column names
df.columns = column_names

# Save the cleaned dataset
cleaned_file_path = r"C:\Users\attafuro\Desktop\EV Charging Analysis\cleaned_traffic_data.csv"
df.to_csv(cleaned_file_path, index=False)

print(f" Column names fixed! Cleaned data saved as '{cleaned_file_path}'.")

 Column names fixed! Cleaned data saved as 'C:\Users\attafuro\Desktop\EV Charging Analysis\cleaned_traffic_data.csv'.

In [10]:
# Convert 'Timestamp' to datetime format
df['Timestamp'] = pd.to_datetime(df['Timestamp'], format="%m/%d/%Y %H:%M:%S")

In [11]:
df.head()

,Timestamp,Station,District,Route,Direction of Travel,Lane Type,Station Length,Samples,% Observed,Total Flow,...,Lane 5 Avg Speed,Lane 6 Flow,Lane 6 Avg Occ,Lane 6 Avg Speed,Lane 7 Flow,Lane 7 Avg Occ,Lane 7 Avg Speed,Lane 8 Flow,Lane 8 Avg Occ,Lane 8 Avg Speed
0,2024-10-01,308512,3,50,W,ML,3.995,197,0,497.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-10-01,311831,3,5,S,OR,NaN,101,92,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-10-01,311832,3,5,S,FR,NaN,101,92,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-10-01,311844,3,5,N,OR,NaN,202,92,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-10-01,311847,3,5,N,OR,NaN,303,92,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Define the final selected columns
selected_columns = [
    "Timestamp", "Station", "Route", "Direction of Travel",
    "Total Flow", "Avg Speed", "% Observed","Samples","Lane Type"
]

# Keep only the selected columns
df = df[selected_columns]

In [13]:
# Display initial summary
print(" Initial Data Overview:")
print(df.info())  # Check data types

 Initial Data Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4114680 entries, 0 to 4114679
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   Timestamp            datetime64[ns]
 1   Station              int64
 2   Route                int64
 3   Direction of Travel  object
 4   Total Flow           float64
 5   Avg Speed            float64
 6   % Observed           int64
 7   Samples              int64
 8   Lane Type            object
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 282.5+ MB
None

In [14]:
print("\nMissing Values:\n", df.isnull().sum())  # Count missing values

Missing Values:
 Timestamp                    0
Station                      0
Route                        0
Direction of Travel          0
Total Flow              303776
Avg Speed              1582594
% Observed                   0
Samples                      0
Lane Type                    0
dtype: int64

In [26]:
df = df.loc[:, df.columns != "Avg Speed"]

In [19]:
# Fill Total Flow missing values with median of same Route & Lane Type
df['Total Flow'] = df.groupby(['Route', 'Lane Type'])['Total Flow'].transform(lambda x: x.fillna(x.median()))

In [29]:
df["Total Flow"] = df["Total Flow"].fillna(df["Total Flow"].median())

In [30]:
print(" Missing Values After Cleaning:\n", df.isnull().sum())

 Missing Values After Cleaning:
 Timestamp              0
Station                0
Route                  0
Direction of Travel    0
Total Flow             0
% Observed             0
Samples                0
Lane Type              0
dtype: int64

In [31]:
df.head()

,Timestamp,Station,Route,Direction of Travel,Total Flow,% Observed,Samples,Lane Type
0,2024-10-01,308512,50,W,497.0,0,197,ML
1,2024-10-01,311831,5,S,27.0,92,101,OR
2,2024-10-01,311832,5,S,78.0,92,101,FR
3,2024-10-01,311844,5,N,43.0,92,202,OR
4,2024-10-01,311847,5,N,73.0,92,303,OR

In [ ]:
# Extract time components
df["Hour"] = df["Timestamp"].dt.hour
df["Day"] = df["Timestamp"].dt.date
df["Week"] = df["Timestamp"].dt.to_period("W").apply(lambda r: r.start_time)